mat-list-item {
  padding: 55px 0 !important;
  background-color: #0e0e0e96;
  margin-bottom: 10px;

  @media screen and (max-width: 480px) {
    padding: 150px 0 !important;
  }

  @media screen and (min-width: 481px) and (max-width: 641px) {
    padding: 100px 0 !important;
  }


  .article-img img {
    width: 100%;
    height: auto;
  }

  .article-title a {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
  }

  .description {
    padding: 10px 0;
    color: #ffffff;
  }
}

  h2 {
    color: #000000;
  }

  .title {
    position: relative;
    top: 5px;
    margin-left: 10px;
  }
