<h2><button mat-raised-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button><span class="title">Daily Feed from {{source}}</span></h2>
<!--list rendering each article from particular news source for news feed in mat-list-item-->
<mat-list>
  <mat-list-item *ngFor="let article of articles">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
          <span class="article-img"><img src={{article.urlToImage}} /></span>
        </div>
        <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-2-phone">
          <div><span class="article-title"><a href={{article.url}} target="_blank">{{article.title}}</a></span></div>
          <div class="description">{{article.description}}</div>
        </div>
      </div>
    </div>
  </mat-list-item>
</mat-list>



